<a href="https://colab.research.google.com/github/antonyYG/Numpy_pandas/blob/main/pandas_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1
Programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla na serie con los datos de las ventas indexada por los años antes y despues de aplicarles un descuento del 5%

In [38]:
import pandas as pd

inicio = int(input("Ingrese el año inicial: "))
fin = int(input("Ingrese el año final: "))
a = fin -10
if a %2 != 0:
  a = a +1
inicio =a
ventas = {}
for i in range(inicio, fin+1,2):
  ventas[i] = float(input("Ingrese las ventas del año " + str(i) +': '))
ventas = pd.Series(ventas)
print("Ventas\n" , ventas)
print("Ventas con descuento\n", (ventas*0.05))

Ingrese el año inicial: 2000123123541514351435511
Ingrese el año final: 2050
Ingrese las ventas del año 2040: 12
Ingrese las ventas del año 2042: 2
Ingrese las ventas del año 2044: 2
Ingrese las ventas del año 2046: 2
Ingrese las ventas del año 2048: 2
Ingrese las ventas del año 2050: 2
Ventas
 2040    12.0
2042     2.0
2044     2.0
2046     2.0
2048     2.0
2050     2.0
dtype: float64
Ventas con descuento
 2040    0.6
2042    0.1
2044    0.1
2046    0.1
2048    0.1
2050    0.1
dtype: float64

Ejercicio 2:
Calculo de estadisticas basicas: meida, mediana , desviacion estandar - numpy para el dataframe

In [39]:
import pandas as pd
import numpy as np

In [61]:
#Crear un dataframe
data = {
    'Nombre': ['Jose','Juan','Maria','Pedro'],
    'Edad': [ 32, 28, 45, 21 ],
    'Ciudad': ['Huancayo', 'El tambo', 'Chilca', 'Cajas']
}

df= pd.DataFrame(data)
print(df)

#Calcular la media utilizando numpy

medi_edad = np.mean(df['Edad'])
print(medi_edad)

#Calcular la mediana utilizando numpy

mediana = np.median(df['Edad'])
print(mediana)

#Calcular la desviacion estandar utilizando numpy

desviacion = np.std(df['Edad'])
print(desviacion)

max = df['Edad'].max()
min = df['Edad'].min()

print(max  , min)

  Nombre  Edad    Ciudad
0   Jose    32  Huancayo
1   Juan    28  El tambo
2  Maria    45    Chilca
3  Pedro    21     Cajas
31.5
30.0
8.73212459828649
45 21

In [46]:
df.loc[df['Edad'].idxmax()]

Nombre     Maria
Edad          45
Ciudad    Chilca
Name: 2, dtype: object